---

interface Project {
    name: string;
    description: string;
    link?: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'Saludkine (2024) ',
    description: 'Desarrollé la arquitectura backend de una plataforma de agendamiento y presupuestos utilizando Node.js. Me encargué de implementar la lógica crítica para la gestión de citas y cotizaciones, colaborando estrechamente con el equipo de diseño para asegurar una experiencia de usuario (UX) eficiente y fluida',
 
}, {
    name: 'Digital Link (2024)',
    description: 'Participé en el rediseño integral de la web corporativa, enfocándome en la reestructuración de la arquitectura backend. Mis esfuerzos se centraron en optimizar el rendimiento y la eficiencia del sistema, coordinando estrechamente con el equipo de desarrollo para garantizar una implementación técnica robusta y sin fricciones',

}, {
    name: 'Construtem (2025) – Proyecto universitario',
    description: 'Encabecé la gestión ágil para el desarrollo del módulo de inventario y despacho, asegurando la alineación entre el diseño UX en Figma y la implementación técnica del backend. A través de una estricta priorización del backlog y gestión de riesgos, conseguimos lanzar el MVP a tiempo, optimizando la productividad del equipo en un 25%.',
    link: {
        url: 'https://github.com/Construtem/frontend-inventario'
    }
}];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'repositorio del proyecto'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
